<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhjy.ExerTracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ExerTrackerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MotionCountActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.bhjy.ExerTracker.ShowMotionCountActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="AddExerciseActivity">
            <intent-filter>
                <action android:name="com.bhjy.ExerTracker.ShowAddExerciseActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="ProgressActivity">
            <intent-filter>
                <action android:name="com.bhjy.ExerTracker.ShowProgressActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="RecordsActivity">
            <intent-filter>
                <action android:name="com.bhjy.ExerTracker.ShowRecordsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="ExerTrackerPreferences">
            <intent-filter>
                <action android:name="com.bhjy.ExerTracker.ShowPreferencesActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>